<!--<div class="form-text" *ngIf="(formName.invalid && formName.touched)">-->
<!--    <label *ngIf="formName.errors.required">-->
<!--        Vui lòng nhập {{message}}-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.minlength">-->
<!--        Vui lòng nhập {{message}} ít nhất {{formName.errors.minlength.requiredLength}} ký tự-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.maxlength && !formName.errors?.max&&!formName.errors.email">-->
<!--        Vui lòng nhập {{message}} không quá {{formName.errors.maxlength.requiredLength}} ký tự-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.pattern">-->
<!--        Vui lòng nhập {{message}} đúng định dạng-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.onlyNumber">-->
<!--        Vui lòng nhập {{message}} là định dạng số-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.email">-->
<!--        Vui lòng nhập {{message}} đúng định dạng email-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.max">-->
<!--        Vui lòng nhập {{message}} có giá trị không vượt quá {{formName.errors.max.max}}-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.min">-->
<!--        Vui lòng nhập {{message}} có giá trị không bé hơn {{formName.errors.min.min}}-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.invalidPhoneNumber">-->
<!--        Vui lòng nhập {{message}} đúng định dạng số điện thoại-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.invalidPassword">-->
<!--        Vui lòng nhập đúng mật khẩu-->
<!--    </label>-->
<!--    <label *ngIf="formName.errors.requiredCb">-->
<!--        Vui lòng chọn {{message}}-->
<!--    </label>-->
<!--</div>-->
